* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../imgs/fondo.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 100px;
}

/* Formulario */

#preview {
  height: 200px;
  background-image: url(../imgs/lion.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

select.form-select.bg-dark {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
/* Tabla de Participantes */

#Animales {
  height: 100%;
  background: #f0f0f0;
}

#Animales div div {
  transition: all 200ms;
}

#Animales div >div:hover {
  box-shadow: 0px 1px 5px 1px;
}

.participante {
  max-width: 30%;
}
.imgTop{
  max-height: 80%;
}
.boxSound{
  background-color: gray;
  max-height: 20%
}
.imgSound{
  width: 3rem;
  height: 3rem;
}


/* Modal */

.modal-dialog{
    max-width: 85% !important;
}

